<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new cake</title>
</head>
<body>
<h1>Thêm bánh mới</h1>
<form th:action="@{/cake/add}" method="post" th:object="${cake}">
    ID:
    <input type="number" required th:field="*{id}" placeholder="ID">
    <br>
    Name:
    <input type="text" required th:field="*{name}" placeholder="Name">
    <br>
    Details:
    <input type="text" required th:field="*{details}" placeholder="Details">
    <br>
    Type:
    <input type="text" required th:field="*{type}" placeholder="Type">
    <br>
    Price:
    <input type="number" required th:field="*{price}" placeholder="Price">
    <br>
    Status:
    <select th:field="*{status}">
        <option th:value="true">True</option>
        <option th:value="false">False</option>
    </select>
    <br>
    <button type="submit">Thêm</button>
</form>
</body>
</html>
