<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>List Bánh Trưng</h1>
<button><a th:href="@{/cake/add-cake}">Thêm bánh mới</a></button>
<table border="1px">
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Details</td>
        <td>Type</td>
        <td>Price</td>
        <td>Status</td>
        <td>Action</td>
    </tr>
    <tr th:each="cake, stage : ${cakeList}">
        <td th:text="${stage.count}"></td>
        <td th:text="${cake.name}"></td>
        <td th:text="${cake.details}"></td>
        <td th:text="${cake.type}"></td>
        <td th:text="${cake.price}"></td>
        <td th:text="${cake.isStatus()}"></td>
        <td>
            <button><a th:href="@{'/cake/edit/' + ${cake.id}}">Edit</a></button>
            <button>Delete</button>
        </td>
    </tr>
</table>
</body>
</html>
